.payment-methods {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saved-methods {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saved-method {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    width: 100%;
}

.saved-method i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.delete-icon {
    color: red;
    cursor: pointer;
    font-size: 1.2rem !important;
}

.new-method {
    width: 50%;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.new-method h3 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
